In [4]:
pip install investpy

Note: you may need to restart the kernel to use updated packages.

"c:\program" ­Ґ пў«пҐвбп ў­гваҐ­­Ґ© Ё«Ё ў­Ґи­Ґ©
Є®¬ ­¤®©, ЁбЇ®«­пҐ¬®© Їа®Ја ¬¬®© Ё«Ё Ї ЄҐв­л¬ д ©«®¬.

In [93]:
import yfinance as yf
import pandas as pd
import investpy
import numpy as np
import pandas_datareader.data as web

In [94]:
data = yf.download(  # or pdr.get_data_yahoo(...
        # tickers list or string as well
        tickers = "MTF=F",
    
    
    
    
        start="2011-01-01",
    
    
        end="2021-11-13",

        # use "period" instead of start/end
        # valid periods: 1d,5d,1mo,3mo,6mo,1y,2y,5y,10y,ytd,max
        # (optional, default is '1mo')
        #period = "ytd",

        # fetch data by interval (including intraday if period < 60 days)
        # valid intervals: 1m,2m,5m,15m,30m,60m,90m,1h,1d,5d,1wk,1mo,3mo
        # (optional, default is '1d')
        interval = "3mo",

        # group by ticker (to access via data['SPY'])
        # (optional, default is 'column')
        group_by = 'ticker',
    )

[*********************100%***********************]  1 of 1 completed

In [96]:
data=data.iloc[:len(data)-1]

In [97]:
factors = web.DataReader('PNGASJPUSDQ', 'fred', '2009.01.01', '2021.11.14')

In [105]:
data['Adj Close']

Date
2010-12-01    120.000000
2011-03-01    122.150002
2011-06-01    125.650002
2011-09-01    112.000000
2011-12-01     97.750000
2012-03-01     88.250000
2012-06-01     93.800003
2012-09-01     89.500000
2012-12-01     87.660004
2013-03-01     82.050003
2013-06-01     75.699997
2014-03-01     74.849998
2014-09-01     74.150002
2014-12-01     61.900002
2015-06-01     55.869999
2015-09-01     53.779999
2015-12-01     43.880001
2016-03-01     48.150002
2016-06-01     60.230000
2016-09-01     85.900002
2016-12-01     82.260002
2017-03-01     74.529999
2017-06-01     87.800003
2017-09-01     92.750000
2017-12-01     81.550003
2018-03-01     95.000000
2018-06-01     97.650002
2018-09-01     88.500000
2018-12-01     75.000000
2019-03-01     56.450001
2019-06-01     54.250000
2020-06-01     49.029999
2020-09-01     53.790001
2020-12-01     65.900002
2021-03-01     86.099998
2021-06-01    154.600006
Name: Adj Close, dtype: float64

In [104]:
pd.concat([data['Adj Close'],factors])

                     0  PNGASJPUSDQ
2010-12-01  120.000000          NaN
2011-03-01  122.150002          NaN
2011-06-01  125.650002          NaN
2011-09-01  112.000000          NaN
2011-12-01   97.750000          NaN
...                ...          ...
2020-07-01         NaN     3.507481
2020-10-01         NaN     8.184291
2021-01-01         NaN    11.342489
2021-04-01         NaN     9.975301
2021-07-01         NaN    18.267879

[87 rows x 2 columns]

In [78]:
df

              Open    High     Low   Close  Volume Currency
Date
2014-06-05  1187.3  1195.0  1141.1  1145.1   24974      RUB
2014-06-06  1158.3  1173.5  1151.0  1163.0    7889      RUB
2014-06-09  1178.9  1185.6  1155.7  1172.1    7304      RUB
2014-06-10  1178.9  1181.0  1160.1  1170.0    3216      RUB
2014-06-11  1175.0  1183.0  1157.1  1179.9    8837      RUB
...            ...     ...     ...     ...     ...      ...
2019-12-24  2704.6  2711.8  2676.2  2688.0  158499      RUB
2019-12-25  2688.0  2693.0  2672.0  2687.0   57922      RUB
2019-12-26  2689.0  2718.6  2678.0  2713.0  176612      RUB
2019-12-27  2713.4  2750.0  2710.0  2736.0  289417      RUB
2019-12-30  2736.0  2740.0  2665.0  2697.0  248658      RUB

[1406 rows x 6 columns]

In [65]:
df = investpy.get_stock_historical_data(stock='YNDX',
                                        country= 'russia' ,
                                        from_date='01/01/2010',
                                        to_date='01/01/2020')

In [67]:
df = investpy.get_stock_historical_data(stock='JKMc1',
                                        country= 'united states' ,
                                        from_date='01/01/2010',
                                        to_date='01/01/2020')

RuntimeError: ERR#0018: stock jkmc1 not found, check if it is correct.

In [66]:
df

              Open    High     Low   Close  Volume Currency
Date
2014-06-05  1187.3  1195.0  1141.1  1145.1   24974      RUB
2014-06-06  1158.3  1173.5  1151.0  1163.0    7889      RUB
2014-06-09  1178.9  1185.6  1155.7  1172.1    7304      RUB
2014-06-10  1178.9  1181.0  1160.1  1170.0    3216      RUB
2014-06-11  1175.0  1183.0  1157.1  1179.9    8837      RUB
...            ...     ...     ...     ...     ...      ...
2019-12-24  2704.6  2711.8  2676.2  2688.0  158499      RUB
2019-12-25  2688.0  2693.0  2672.0  2687.0   57922      RUB
2019-12-26  2689.0  2718.6  2678.0  2713.0  176612      RUB
2019-12-27  2713.4  2750.0  2710.0  2736.0  289417      RUB
2019-12-30  2736.0  2740.0  2665.0  2697.0  248658      RUB

[1406 rows x 6 columns]

In [68]:
sr=(investpy.search_quotes(text='JKMc1', 
                       #products=['stocks'],
                       #countries=['united states'],
                       n_results=1))

In [69]:
print(sr)

{"id_": 1173441, "name": "LNG Japan/Korea Marker PLATTS Future", "symbol": "JKMc1", "country": null, "tag": "/commodities/lng-japan-korea-marker-platts-futures", "pair_type": "commodities", "exchange": "CME"}

In [58]:
sr

In [56]:
search_result = investpy.search_quotes(text='apple', products=['stocks'],
                                       countries=['united states'], n_results=1)
print(search_result)

{"id_": 6408, "name": "Apple Inc", "symbol": "AAPL", "country": "united states", "tag": "/equities/apple-computer-inc", "pair_type": "stocks", "exchange": "NASDAQ"}

In [55]:
investpy.funds.get_fund_countries()

['andorra',
 'australia',
 'austria',
 'bahrain',
 'belgium',
 'bermuda',
 'brazil',
 'canada',
 'cayman islands',
 'chile',
 'china',
 'czech republic',
 'denmark',
 'estonia',
 'finland',
 'france',
 'germany',
 'gibraltar',
 'greece',
 'hong kong',
 'hungary',
 'iceland',
 'india',
 'indonesia',
 'ireland',
 'israel',
 'italy',
 'japan',
 'latvia',
 'liechtenstein',
 'lithuania',
 'luxembourg',
 'malaysia',
 'malta',
 'mauritius',
 'mexico',
 'monaco',
 'namibia',
 'netherlands',
 'new zealand',
 'norway',
 'oman',
 'pakistan',
 'philippines',
 'poland',
 'portugal',
 'qatar',
 'russia',
 'saudi arabia',
 'singapore',
 'slovenia',
 'south africa',
 'south korea',
 'spain',
 'sweden',
 'switzerland',
 'taiwan',
 'thailand',
 'dubai',
 'united kingdom',
 'united states',
 'vietnam']