In [3]:
import yfinance as yf
import pandas as pd
import investpy
import numpy as np
import pandas_datareader.data as web

In [4]:
factors = web.DataReader('PNGASJPUSDQ', 'fred', '2009.01.01', '2021.11.14')

In [5]:
factors

            PNGASJPUSDQ
DATE
2009-01-01     6.036667
2009-04-01     6.743333
2009-07-01     8.360000
2009-10-01     8.823333
2010-01-01     9.173333
2010-04-01     9.553333
2010-07-01     8.973333
2010-10-01     9.823333
2011-01-01    11.626667
2011-04-01    15.483333
2011-07-01    17.256667
2011-10-01    17.846667
2012-01-01    17.530000
2012-04-01    19.093333
2012-07-01    18.750000
2012-10-01    17.206667
2013-01-01    17.940000
2013-04-01    17.446667
2013-07-01    16.996667
2013-10-01    16.973333
2014-01-01    17.843333
2014-04-01    17.620000
2014-07-01    16.453333
2014-10-01    16.073333
2015-01-01    14.413333
2015-04-01     9.616667
2015-07-01     9.830000
2015-10-01     9.973333
2016-01-01     8.153333
2016-04-01     6.856667
2016-07-01     7.353333
2016-10-01     7.393333
2017-01-01     7.365625
2017-04-01     5.650733
2017-07-01     6.282353
2017-10-01     9.691068
2018-01-01    10.200491
2018-04-01     8.841822
2018-07-01    10.551069
2018-10-01     9.588277
2019-01-01     6.677297
2019-04-01     4.834091
2019-07-01     4.584700
2019-10-01     5.682410
2020-01-01     3.704270
2020-04-01     2.069654
2020-07-01     3.507481
2020-10-01     8.184291
2021-01-01    11.342489
2021-04-01     9.975301
2021-07-01    18.267879